body {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.insetBug {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 15px;
    margin-right: 15px;
}

/*START bootstrap nav bar*/
.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px 6px;
        border-radius: 0 6px 6px 6px;
    }

    .dropdown-submenu:hover > .dropdown-menu {
        display: block;
    }

    .dropdown-submenu > a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #cccccc;
        margin-top: 5px;
        margin-right: -10px;
    }

    .dropdown-submenu:hover > a:after {
        border-left-color: #ffffff;
    }

    .dropdown-submenu .pull-left {
        float: none;
    }

        .dropdown-submenu.pull-left > .dropdown-menu {
            left: -100%;
            margin-left: 10px;
            -webkit-border-radius: 6px 0 6px 6px;
            -moz-border-radius: 6px 0 6px 6px;
            border-radius: 6px 0 6px 6px;
        }


/*END bootstrap nav bar*/

/*Tablesort selected row*/
.selected-row-class {
    color: red;
}
.tablesorter tr {
    height: auto;
    font-size: 1.1em;
}

/*Reports*/
.reportTitle {
    margin-top: 0px;
    font-size:  1.1em;
    font-weight: bold;
    color: blue;
    float: left; 
    width: 70%
    /*text-align: center;*/
}

.reportGameHeader {
    font-size: 1em;
    font-weight: bold;
    color: black;
}

.reportHeader {
    font-size: 1em;
    font-weight: bold;
    color: black;
}

.reportLabel {
    font-size: 1em;
    color: blue;
}

.reportLabelMargin {
    margin-left: 0px;
}

.reportReturnLink {
    float: right;
    margin-top: 0px;
}

.reportResetSytle {
    clear:both;
}

.chartDiv {
    overflow: hidden; /*avoid unneeded scrollbars*/
}

.tableHeader {
    margin-top: 10px;
    font-size: 1em;
    font-weight: bold;
    color: green;
}

.googleReportTableHeader {
    font-weight: bold;
    color: black;
    text-align: left;
    vertical-align: top;
}

.googleReportTableNonHeader {
    text-align: left;
}

.googleReportCellYES {
    color: green;
}

.googleReportCellNO {
    color: red;
}

.tableMatch {
    width: 100%;
}

.tableNonMatch {
    width: 100%;
}

/*
   About Page - for mobile we do some overriding of the jquery ui accordian widget
 */

/*
 responsive background image   
 */
@media only screen and (min-height: 2560px) { /*height: 2560px width 1440*/
    .backimageInCommon {
        background: url(./images/bckground/1440x2560_BG.jpg) no-repeat center center fixed;
    }
}
@media only screen and (max-height: 2559px) and (min-height: 1912px) { /*MANY -height: 1920px width 1080*/
    .backimageInCommon {
        background: url(./images/bckground/1440x2560_BG.jpg) no-repeat center center fixed;
    }
}
@media only screen and (max-height: 1911px) and (min-height: 1600px) { /*height: 1600px width 900*/
    .backimageInCommon {
        background: url(./images/bckground/1080x1920_BG.jpg) no-repeat center center fixed;
    }
}
@media only screen and (max-height: 1599px) and (min-height: 1180px) { /*MANY -height: 1280px width 800*/
    .backimageInCommon {
        background: url(./images/bckground/900x1600_BG.jpg) no-repeat center center fixed;
    }
}
@media only screen and (max-height: 1179px) and (min-height: 1024px) { /*height: 1024px width 600*/
    .backimageInCommon {
        background: url(./images/bckground/800x1280_BG.jpg) no-repeat center center fixed;
    }
}
@media only screen and (max-height: 1023px) and (min-height: 800px) { /*MANY -height: 800px  width 480*/
    .backimageInCommon {
        background: url(./images/bckground/600x1024_BG.jpg) no-repeat center center fixed;
    }
}
@media only screen and (max-height: 799px) and (min-height: 480px) { /*MANY - height 480 width 320*/
    .backimageInCommon {
        background: url(./images/bckground/480x800_BG.jpg) no-repeat center center fixed;
    }
}
@media only screen and (max-height: 479px) and (min-height: 0px) { /*height 320 width 240*/
    .backimageInCommon {
        background: url(./images/bckground/320x480_BG.jpg) no-repeat center center fixed;
    }
}

.backCoverInCommon {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.ui-accordion .ui-accordion-content {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 80%;
}