@{
    ViewBag.Title = "About";
}

<script>
    $(function () {
        $("#accordion").accordion({
            heightStyle: "content",
            autoHeight: false,
            clearStyle: true,
            active: @ViewBag.AboutSectionOffset
        });
    });
</script>

<div id="accordion">
    <h3>About</h3>
    <div>
        <p>
            <i>In Common</i> is a social game app that unites people by asking simple, fun, or silly opinion-based questions to find out what they have in common--or what they don't have in common! <i>In Common</i> be played with as little as two players or with a large group of players. Break the ice. Get to know someone a little better. Learn more about yourself, your friends, and your interests. <i>In Common</i> can be used for group building, corporate meetings, speed dating, networking events, parties, surveys and more! Download and share today to find out what you have <i>In Common</i>!
        </p>
    </div>
    <h3>The Games</h3>
    <div>
        <p>
            A game organizer designs and facilitates an <i>In Common</i> game until its conclusion. Currently there is a 'Match', 'Test', and 'Last Man Standing' game type to choose from (More to come). Players receive a game code from the organizer and answer a series of questions designed by the organizer. The game is automatically officiated by <i>In Common</i> based on the specific rules of the game type. When the game is in-progress and completed, results can be made available directly to a player's device. Extra reports are available to the organizer on the <i>In Common</i> portal.
        </p>
    </div>
    <h3>Register - Game Organizer Only</h3>
    <div>
        <p>
            All a game organizer needs to do is register (for free) on the <i>In Common</i> portal. FaceBook or Google accounts can be used to register and avoid dealing with another password.
        </p>
        After registering, you can start authoring your games and make them available to your players. Any person with access to the Internet can play your game and enjoy the results.
        The game is especially mobile friendly. The <i>In Common</i> mobile app can be installed from the Apple and Google Play stores. It can also be played (without install) by using your mobile browser.
    </div>
    <h3>Game Organizer</h3>
    <div>
        <p>
            Any registered game organizer may configure and publish a game to be played on any device connected to the internet. Here are the following steps to publish a game from the portal:
            <ul>
                <li>Create your authored questions to the reusable Question Library - <strong>Question Library</strong></li>
                <li>
                    Create your game and identify it with a unique name - <strong>My Games</strong><br />
                    <i>Start and End Dates</i> - date and time window that your game can be played<br />
                    <i>Client Report Access Toggle</i> - if true, your players will be able to display results from their devices<br />
                    <i>Publish</i> - for players to access your game<br/>
                    <i>Game Code</i> - to be distributed to your players to play your game
                </li>
            </ul>
            <div>
                <strong>The <i>In Common</i> portal for Game Organizers can be found at:</strong><br />
                <a target="_blank" href="https://www.in-common-app.net" style="color:blue">https://www/in-common-app.net</a> (Portal is best used on a laptop/desktop)<br />
            </div>
            <div style="margin-top: 5px">
                <strong>The <i>In Common</i> mobile app for players can be found at:</strong><br />
                <a target="_blank" href="https://www.in-common-app.net/client" style="color:blue">https://www/in-common-app.net/client</a> (Web Version)<br />
                <a target="_blank" href="https://itunes.apple.com/us/app/in-common-by-in-common-app.net/id944847650?mt=8" style="color:blue">https://itunes.apple.com/us/app/in-common-by-in-common-app.net/id944847650?mt=8</a> (Apple Store - iPhone)<br />
                <a target="_blank" href="https://play.google.com/store/apps/details?id=com.productivityedge.probe" style="color:blue">https://play.google.com/store/apps/details?id=com.productivityedge.probe</a> (Google Play - Android)

            </div>
        </p>
    </div>
    <h3>Player</h3>
    <div>
        <p>
            Any person, with an internet device, that receives a game code from the game organizer can play a game.<br/>
            <div style="margin-top: 5px; margin-bottom: 5px">
                <strong>The <i>In Common</i> mobile app for players can be found at:</strong><br />
                <a target="_blank" href="https://www.in-common-app.net/client" style="color:blue">https://www/in-common-app.net/client</a> (Web Version)<br />
                <a target="_blank" href="https://itunes.apple.com/us/app/in-common-by-in-common-app.net/id944847650?mt=8" style="color:blue">https://itunes.apple.com/us/app/in-common-by-in-common-app.net/id944847650?mt=8</a> (Apple Store - iPhone)<br />
                <a target="_blank" href="https://play.google.com/store/apps/details?id=com.productivityedge.probe" style="color:blue">https://play.google.com/store/apps/details?id=com.productivityedge.probe</a> (Google Play - Android)

            </div>            
            Here are the following steps to play and submit a game:<br/>
            <ul>
                <li>Click the <strong>Add</strong> icon</li>
                <li>Enter a game code</li>
                <li>Click <strong>Start Game</strong> button</li>
                <li>Answer all the questions. When all the questions are answered, the Submit button will be enabled for the player.</li>
                <li>Click the <strong>Submit</strong> button and answer YES to the confirmation dialog</li>
                <li>NOTE: <i>In Common</i> saves the last 10 submitted games. Players can view its answers and game results (if organizer gives players access)</li>
            </ul>
        </p>
    </div>
    <h3>Match Game</h3>
    <div>
        <p>
            Players playing a Match game must answer all the questions presented. The questions are designed so there is no correct answer.
        </p>
        When the game has been completed; answers are tabulated and player compatibilities are linked and counted. If the organizer has given her players access to results; results can be displayed from their devices. There are additional reports available to the game organizer on the portal.
    </div>
    <h3>Test Game</h3>
    <div>
        <p>
            Players playing a Test game must answer all the questions presented. Each question is designed with one correct answer.
        </p>
        When the game has been completed; answers are tabulated and player test scores are calculated. If the organizer has given her players access to results; results can be displayed from their devices. There are additional reports available to the game organizer on the portal.

    </div>
    <h3>Last Man Standing Game</h3>
    <div>
        <p>
            Players are presented one question at a time and they must answer correctly within a time limit or they're out of the game. Each question is designed with one correct answer. The game organizer can configure the time limits for each game.
        </p>
        The game is completed when one player is left standing. Reports are available throughout the game to view the game's progress. If the organizer has given her players access to results; results can be displayed from their devices. There are additional reports available to the game organizer on the portal.

    </div>
    <h3>Contact Us</h3>
    <div>
        <p>
            <address>
                <strong>Company</strong><br />
                Productivity Edge, Inc.<br />
                Columbia, MD 21046<br />
            </address>

            <address>
                <strong>Email Address</strong><br />
                <a href="mailto:mns@productivityedge.com">mns@productivityedge.com</a>
            </address>
        </p>
    </div>
    <h3>Version</h3>
    <div>
        <p>
            This is the <i>In Common</i> Internet Socal Media Game App (@ViewBag.InCommonVersion)<br />
        </p>
    </div>
</div>

<script>

    //$(document).on("ready", function (event) {

    //    $(".selector").accordion({
    //        active: 2
    //    });

    //});


</script>






