@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<p>@ViewBag.Message</p>

<h2>Contact Information</h2>
<address>
    Productivity Edge, Inc.<br />
    Columbia, MD 21046<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mns@productivityedge.com">mns@productivityedge.com</a>
</address>
