@{
    ViewBag.Title = "Home Page";
}

@*Using GIMP Sans font for Background image on Client*@
<div style="text-align: center; vertical-align: middle; font-family:  Britannic ;font-size: 20em">
Probe
</div>

