
/* override jquery mobile theme*/
html head + body .ui-btn.ui-btn-a:hover {
	background-color: #00ff00 /*{a-bhover-background-color}*/;
	border-color: #dddddd /*{a-bhover-border}*/;
	color: #ffffff /*{a-bhover-color}*/;
	text-shadow: 0 /*{a-bhover-shadow-x}*/ 1px /*{a-bhover-shadow-y}*/ 0 /*{a-bhover-shadow-radius}*/ #f3f3f3 /*{a-bhover-shadow-color}*/;
}
