<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    </configSections>
  <!--
    When using this package, make sure that your site runs under IIS, not under the Cassini web server
    built into Visual Studio. The package uses an HttpHandler to process CSS and JavaScript files,
    which is not supported by Cassini.
    
    To make sure that the package is only active in Release mode, set active to ReleaseModeOnly in the
    combineAndMinify element below:
    <combineAndMinify active="ReleaseModeOnly">
        
    Documentation is at
    http://aspnetperformance.com/post/Package-that-speeds-up-loading-of-JavaScript-CSS-and-image-files.aspx    
    
    The NuGet package modifications to your web.config are suitable if you use IIS 7.
    If you use IIS 6 or IIS 7 in classic mode, see
    http://aspnetperformance.com/post/Package-that-speeds-up-loading-of-JavaScript-CSS-and-image-files.aspx#installation_iis6

    By default, CSS and JavaScript files are combined and minified, but all other options are switched off.
    For extensive documentation and examples on how to switch on the other features, such as cookieless domains, 
    far future caching and inserting version numbers, visit
    http://aspnetperformance.com/post/Package-that-speeds-up-loading-of-JavaScript-CSS-and-image-files.aspx#configuration
    -->
 
  <system.webServer>
    </system.webServer>
</configuration>